
/backend/discounts/node_modules/
/backend/items/node_modules/
/backend/auth/node_modules/
**/node_modules/**

client/node_modules
mobile/node_modules
backend/node_modules
.env
client/.env
mobile/.env
backend/.env
mobile/.expo
.env


